@using System.Reflection;

@{
    string version = typeof(Duende.IdentityServer.Hosting.IdentityServerMiddleware).Assembly
        .GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion
        .Split('+')
        .First();
}

<div class="mt-3 d-flex justify-content-between px-3 mb-5 mb-sm-0">
    <div class="text-muted login-attribution">
        Powered by IdentityServer (@version)
    </div>
    <div class="text-muted login-attribution">
        <a href="/Home/Privacy" target="_blank" title="Privacy" class="fw-bold text-decoration-none text-muted me-3">Privacy</a>
        <a href="/Home/Terms" target="_blank" title="Terms" class="fw-bold text-decoration-none text-muted">Terms</a>
    </div>
</div>