<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>Duende IdentityServer</title>
    
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />

    <!-- This FontAwesome Kit is available to localhost and stufrankish.dev domains only -->
    <script src="https://kit.fontawesome.com/d8fcd1bfde.js"
            crossorigin="anonymous">
    </script>


</head>
<body class="d-flex flex-column h-100">

    @{
        var activePage = ViewData["ActivePage"] as string;
    }

    <partial name="_Nav" />

    <div class="body-container p-3">
        @RenderBody()
    </div>

    @* <partial name="_LayoutFooter" /> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
