@using Duende.IdentityServer.Extensions
@using Microsoft.AspNetCore.Identity
@using IdentityServer.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
}

<div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            <img src="~/duende-logo.svg" class="icon-banner">
            Duende IdentityServer
        </a>

        @if (SignInManager.IsSignedIn(User))
        {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Hello @UserManager.GetUserName(User)! <b class="caret"></b></a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-page="/Account/Manage/TwoFactorAuthentication">Manage MFA</a>
                        <a class="dropdown-item" asp-page="/Account/Logout/Index">Logout</a>
                    </div>
                </li>
            </ul>
        } else
        {
            <div class="col-md-3 text-end">
                <a class="text-light" id="login" asp-page="/Account/Login/Index">Login</a>
                <a class="text-light" id="register" asp-page="/Account/Create/Index">Register</a>
            </div>
        }

    </nav>
</div>
