@page
@model IdentityServer.Pages.Account.Create.Index

@{
    Layout = "_LayoutLogin";
}

<div class="row mb-1">
    <div class="col">
        <img src="~/logo_long.png" class="login-logo" />
    </div>
</div>

<div class="row">

    <div class="col-12 col-md-6 mb-3 mb-md-0">
        <span class="fs-2 d-block mb-1">Register</span>
        <span class="d-block">Create your Local Account</span>
    </div>

    <div class="col-12 col-md-6">

        <form asp-page="/Account/Create/Index">

            <input type="hidden" asp-for="Input.ReturnUrl" />

            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="Input.Username" placeholder="Username" autofocus>
                <label asp-for="Input.Username">Username</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" asp-for="Input.Password" placeholder="Password" autocomplete="off">
                <label asp-for="Input.Password">Password</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="Input.Name" placeholder="Display Name">
                <label asp-for="Input.Name">Display Name</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" asp-for="Input.Email" placeholder="Email">
                <label asp-for="Input.Email"></label>
            </div>

            <partial name="_ValidationSummary" />

            <div class="my-4 login-supplementary-text">
                <p>
                    This is some really short text that has no purpose yet.
                    This is some really short text that has no purpose yet.
                </p>
            </div>

            <div class="my-3">
                <button class="btn btn-primary float-end mx-1 rounded-5" name="Input.Button" value="create">Register</button>
                <button class="btn float-end mx-3 text-muted" name="Input.Button" value="cancel">Cancel</button>
            </div>

        </form>

    </div>


</div>
