@page
@model IdentityServer.Pages.Consent.Index
@{
    Layout = "_LayoutLogin";
}

<div class="row mb-1">
    <div class="col">
        <img src="~/logo_long.png" class="login-logo" />
    </div>
</div>

<div class="row">

    <div class="col-12 col-md-6 mb-3 mb-md-0">
        <span class="fs-2 d-block mb-1">Consent needed</span>
        <span class="d-block"><strong>@Model.View.ClientName</strong> is requesting your permission</span>
    </div>

    <div class="col-12 col-md-6">
        <div class="page-consent">

            <partial name="_ValidationSummary" />

            <form asp-page="/Consent/Index">
                <input type="hidden" asp-for="Input.ReturnUrl" />
                <input type="hidden" asp-for="Input.Description" />

                @if (Model.View.IdentityScopes.Any())
                {
                    <div class="mb-3">
                        <div class="px-2 mb-1">
                            <span class="d-block fw-bold fs-5">
                                <i class="fa-light fa-fw fa-user"></i>
                                <span>Personal Information</span>
                            </span>
                            <span class="section-description text-muted">
                                The following information will be shared with the application:
                            </span>
                        </div>
                        <div class="list-group">
                            @foreach (var scope in Model.View.IdentityScopes.OrderByDescending(i => i.Required).ThenByDescending(i => i.Emphasize))
                            {
                                <partial name="_ScopeListItem" model="scope" />
                            }
                        </div>
                    </div>
                }

                @if (Model.View.ApiScopes.Any())
                {
                    <div class="mb-3">
                        <div class="px-2 mb-1 fs-5 fw-bold">
                            <span class="d-block fw-bold fs-5">
                                <i class="fa-light fa-fw fa-list-check"></i>
                                <span>Application Access</span>
                            </span>
                            <span class="section-description text-muted">
                                The application will have access to the following:
                            </span>
                        </div>
                        <div class="list-group">
                            @foreach (var scope in Model.View.ApiScopes.OrderByDescending(i => i.Required).ThenByDescending(i => i.Emphasize))
                            {
                                <partial name="_ScopeListItem" model="scope" />
                            }
                        </div>
                    </div>
                }

                @if (Model.View.AllowRememberConsent)
                {
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" asp-for="Input.RememberConsent">
                            <label class="form-check-label" asp-for="Input.RememberConsent">
                                <strong>Remember My Decision</strong>
                            </label>
                        </div>
                    </div>
                }

                <div class="my-3 mt-5">
                    <button name="Input.button" value="yes" class="btn btn-primary float-end rounded-5">Allow</button>
                    <button name="Input.button" value="no" class="btn float-end mx-3">Don't Allow</button>
                </div>

            </form>
        </div>
    </div>

</div>
