@{
    ViewData["Title"] = "Access Denied";
}

<div class="container my-5">
    <div class="position-relative p-5 text-center text-muted bg-light rounded-5">
        <h1 class="text-body-emphasis">Access Denied.</h1>
        <p class="col-lg-6 mx-auto mb-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <a class="btn btn-primary px-5" href="/">
            Go Home
        </a>
    </div>
</div>