body {
  height: 100vh;
  background-color: #FFF;
  padding-top: 63px;
}

div.header-bar {
  height: 63px;
  background-color: #f7f7f8 !important;
}
div.header-bar .nav-logo {
  position: relative;
  top: 5px;
}
div.header-bar .dropdown-item:active {
  background-color: #c5c6c6;
}

.dropdown-toggle::after {
  content: none;
}

img.nav-logo {
  max-height: 40px;
}

.icon-banner {
  width: 32px;
}

.welcome-page li {
  list-style: none;
  padding: 4px;
}
.welcome-page img.logo {
  max-width: 64px;
}

.logged-out-page iframe {
  display: none;
  width: 0;
  height: 0;
}

.grants-page .card {
  margin-top: 20px;
  border-bottom: 1px solid lightgray;
}
.grants-page .card .card-title {
  font-size: 120%;
  font-weight: bold;
}
.grants-page .card .card-title img {
  width: 100px;
  height: 100px;
}
.grants-page .card label {
  font-weight: bold;
}

table.table-hover td {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.fs-small {
  font-size: 0.6rem;
}

.fs-smaller {
  font-size: 0.9rem;
}

div.input-group a {
  border-color: #dee2e6;
}

div.btn-group a {
  border-color: #dee2e6 !important;
}

.brand-color {
  color: #764fc1 !important;
}

.brand-color-dark {
  color: #633e9e;
}

div.toolbar-icons a {
  height: 32px;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}
div.toolbar-icons a.active {
  background-color: whitesmoke;
  border: 1px solid lightgrey;
}
div.toolbar-icons a.active svg {
  color: #764fc1 !important;
}
div.toolbar-icons :hover {
  background-color: #FAFAFA !important;
}

div.card {
  border: none;
  background-color: #f7f7f8 !important;
}
div.card div.card {
  background-color: #FFF !important;
}

div.alert {
  border: unset;
}
div.alert.alert-slim {
  padding: 8px;
  padding-left: 10px;
}
