.error-list-container {
  font-size: 0.8rem;
  background-color: #f7e8eb !important;
  color: #B71C1C;
}
.error-list-container .error-list-title {
  font-weight: 500 !important;
}
.error-list-container .error-list-icon {
  position: relative;
  left: 2px;
}
.error-list-container ul {
  padding-left: 25px;
}
