@page
@model IdentityServer.Pages.Home.Index

<div class="d-flex flex-nowrap">

    <div class="flex-grow-1 p-3">

        <div class="welcome-page">
            <h1 class="d-flex align-items-center">
                <img src="~/duende-logo.svg" class="me-2 logo" alt="Logo">
                <div class="d-flex flex-column justify-content-center">
                    <span class="brand-color-dark">Welcome to IdentityServer</span>
                    <span class="text-muted fs-6">Version @Model.Version</span>
                </div>
            </h1>

            <hr />

            <ul>
                <li>
                    IdentityServer publishes a
                    <a href="~/.well-known/openid-configuration">discovery document</a>
                    where you can find metadata and links to all the endpoints, key material, etc.
                </li>
                <li>
                    Click <a href="~/portal">here</a> to see the client portal.
                </li>
                <li>
                    Click <a href="~/account/diagnostics">here</a> to see the claims for your current session.
                </li>
                <li>
                    Click <a href="~/admin/serversidesessions">here</a> to view the server side sessions.
                </li>
                <li>
                    Click <a href="~/account/grants">here</a> to manage your stored grants.
                </li>
                <li>
                    Click <a href="~/device">here</a> to authorize a pending device flow.
                </li>
                <li>
                    Click <a href="~/ciba/all">here</a> to view your pending CIBA login requests.
                </li>
                <li>
                    Click <a href="~/_health">here</a> to access the healthchecks data.
                </li>
            </ul>

            @if (Model.License != null)
            {
                <h2>License</h2>
                <dl>
                    <dt>Serial Number</dt>
                    <dd>@Model.License.SerialNumber</dd>
                    <dt>Expiration</dt>
                    <dd>@Model.License.Expiration!.Value.ToLongDateString()</dd>
                </dl>
            }

        </div>

    </div>

</div>