@page
@model IdentityServer.Pages.Home.Index

<div class="d-flex flex-nowrap">

    <div class="flex-grow-1 p-3">

        <div class="welcome-page">
            <h1 class="d-flex align-items-center">
                <img src="~/duende-logo.svg" class="me-2 logo" alt="Logo">
                <div class="d-flex flex-column justify-content-center">
                    <span class="brand-color-dark">Welcome to IdentityServer</span>
                    <span class="text-muted fs-6">Version @Model.Version</span>
                </div>
            </h1>

            <hr />

            <h3 class="brand-color-dark">User Actions</h3>

            <div class="d-flex gap-2 mb-4">

                <a class="btn btn-light" style="width: 18rem;" href="~/account/diagnostics">
                    <div class="p-3">
                        <i class="fa-light fa-user-tag fs-1 text-light-emphasis"></i>
                    </div>
                    <div class="border-top p-3">
                        Click here to see the claims for your current session.
                    </div>
                </a>

                <a class="btn btn-light" style="width: 18rem;" href="~/device">
                    <div class="p-3">
                        <i class="fa-light fa-display-code fs-1 text-light-emphasis"></i>
                    </div>
                    <div class="border-top p-3">
                        Click here to authorize a pending device flow.
                    </div>
                </a>

                <a class="btn btn-light" style="width: 18rem;" href="~/ciba/all">
                    <div class="p-3">
                        <i class="fa-light fa-comments-question-check fs-1 text-light-emphasis"></i>
                    </div>
                    <div class="border-top p-3">
                        Click here to view your pending CIBA login requests.
                    </div>
                </a>

            </div>

            <h3 class="brand-color-dark">Hidden &amp; Admin Actions</h3>

            <div class="d-flex gap-2 mb-4">

                <a class="btn btn-light" style="width: 18rem;" href="~/.well-known/openid-configuration">
                    <div class="p-3">
                        <i class="fa-light fa-bullhorn fs-1 text-light-emphasis"></i>
                    </div>
                    <div class="border-top p-3">
                        Click here to view the discovery document.
                    </div>
                </a>

                <a class="btn btn-light" style="width: 18rem;" href="~/admin/serversidesessions">
                    <div class="p-3">
                        <i class="fa-light fa-server fs-1 text-light-emphasis"></i>
                    </div>
                    <div class="border-top p-3">
                        Click here to view Server-side Session info.
                    </div>
                </a>

            </div>


            @if (Model.License != null)
            {
                <h2>License</h2>
                <dl>
                    <dt>Serial Number</dt>
                    <dd>@Model.License.SerialNumber</dd>
                    <dt>Expiration</dt>
                    <dd>@Model.License.Expiration!.Value.ToLongDateString()</dd>
                </dl>
            }

        </div>

    </div>

</div>